body{
  margin: 0;
  background-color: #303030;
}

nav{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  background-color: #903090;
  font-size: 1.5rem;
}

nav a{
  text-decoration: none;
  color: whitesmoke;
}

.상품-container{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  margin: 20px;
}

.상품{
  width: 350px;
  border: 2px solid white;
  margin: 20px;
  border-radius: 10px;
  background-color: white;
}

.상품 img{
  width: 100%;
}

/* .상품:hover{
  transform: scale(1.03);
  transition: all 0.5s;
} */

.tag{
  text-align: center;
  color: #aaa;
  border: 1px solid #aaa;
  width: 20%;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: 10px;
}

.name{
  text-align: center;
  font-size: 1.5rem;
}

.price{
  text-align: center;
  font-size: 1rem;
}

.장바구니-container{
  text-align: center;
  font-size: 2rem;
  color: white;
  margin: 40px;
}

.장바구니-title{
  border: 3px solid white;
  padding: 30px;
  width: 20%;
  margin: auto;
  border-radius: 20px;
}

.장바구니{
  width: 50%;
  margin: auto;
  margin-top: 80px;
  border-collapse: collapse;
  /* border-bottom: 1px solid white; */
}

th, tr, td{
  border-bottom: 1px solid whitesmoke;
  padding: 20px;
}

.orderBtn{
  text-align: center;
}

.buyBtn, .cartBtn{
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px;
  border: none;
  font-size: 1.2rem;
  color: white;
}

.buyBtn{
  background-color:#0F5CA8;
}

.buyBtn:hover{
  background-color: #093765;
}

.cartBtn{
  background-color: white;
  color: #0F5CA8;
  border: #0F5CA8 1px solid;
}

.cartBtn:hover{
  color: #2391ff;
  border: #2391ff 1px solid;
}

.hide{
  display: none;
}

.show{
  display: inline;
}