body{
  background-color: #213255;
}

nav{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: #282c34;
  color: #61dafb;
  font-size: 2rem;
}

nav li{
  padding: 20px;
}

nav li:hover{
  transform: scale(1.1);
  transition: all 0.3s;
  color: coral;
}



.question{
  text-align: center;
  margin: 50px;
  color: whitesmoke;
  font-size: 3rem;
}

.hint{
  text-align: center;
  width: 20%;
  margin: auto;
  font-size: 2rem;
  color: whitesmoke;
  /* background-color: #ddd; */
}

.hint li{
  /* list-style: none; */
  margin-bottom: 20px;
  border-bottom: 1px solid whitesmoke;
}

.example{
  font-size: 1.5rem;
  color: whitesmoke;
}

.example ol{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.example li{
  padding: 10px;
  border-radius: 20px;
  background-color: whitesmoke;
  color: black;
}

.example li:hover{
  cursor: pointer;
  color: black;
  background-color: coral;
  transform: translateY(-5px);
}

.example .check{
  background-color: coral;
}