.main-bg {
  height : 1000px;
  background-image : url('../public/배경.jpg');
  filter: brightness(90%);
  background-size : contain;
  background-position : center;
}

.ment{
  color: coral;
  font-size: 80px;
  font-weight: 900;
  filter: brightness(100%);
  /* filter: ; */
}

.moveMent{
  color: cornflowerblue;
  font-size: 50px;
  font-weight: 900;
  filter: brightness(100%);
}

.hide{
  scale: 0;
}

.show{
  scale: 1;
  transition: all 0.8s;
}