body{
   width: 1500px;
   height: 800px;
   margin: 0;
}

header{
   width: 100%;
   height: 15%;
   background-color: red;
}

aside{
   background-color: orange;
   width: 20%;
   height: 80%;
   float: left;
}

main{
   background-color: green;
   width: 80%;
   height: 80%;
   float: right;
}

footer{
   background-color: blue;
   width: 100%;
   height: 5%;
   clear: both;
}