body{
   font-family: 'East Sea Dokdo', cursive;
   background-color: #F7EEDF;
}

.title{
   margin: 50px;
   font-size: 100px;
   text-align: center;
}

.text{
   text-align: center;
   /* width: 1000px; */
   font-family: 'East Sea Dokdo', cursive;
   font-size: 50px;
   line-height: 80px;
   padding: 30px;
   /* margin: auto; */
}

.t1, .t2{
   display: none;
}